if SHIELD_DIVBOARD_LEFT
    config ZMK_KEYBOARD_NAME
        default "DivBoard"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y
endif

if SHIELD_DIVBOARD_LEFT || SHIELD_DIVBOARD_RIGHT
    config ZMK_BLE
        default y
        
    config ZMK_SPLIT
        default y
endif
