#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#defined SYS 1

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &kp Q          &kp W          &kp F          &kp P          &kp B                    &kp J          &kp L          &kp U          &kp Y          &kp APOS
                &kp A          &kp R          &kp S          &kp T          &kp G                    &kp M          &kp N          &kp E          &kp I          &kp O
                &kp Z          &kp X          &kp C          &kp D          &kp V                    &kp K          &kp H          &kp COMMA      &kp DOT        &kp SLASH
                                              &mo SYS
                                              &kp ESC        &kp SPACE      &kp TAB                  &kp ENTER      &kp BSPC       &kp DEL
            >;
        };

        system_layer {
            display-name = "System";
            bindings = <
                &bt BT_SEL 0   &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR_ALL                 &none          &none          &none          &none          &none
                &none          &none          &none          &none          &none                    &none          &none          &none          &none          &none
                &sys_reset     &none          &none          &none          &bootloader              &bootloader    &none          &none          &none          &sys_reset
                                              &none
                                              &kp ESC        &kp SPACE      &kp TAB                  &kp ENTER      &kp BSPC       &kp DEL
            >;
        }
    };
};
